{template 'common/header'}
<style>
.header{
	padding: 50px 20px 0;
}
.header h3{
	text-align: center;
	color: #ffffff;
}
.headerimg{
	padding: 20px;
	text-align: center;
}
.headerimg img{
	width: 80px;
	height: 80px;
}
.main{
	padding: 30px;
}

.success{
	width: 100%;
	text-align: center;	
}
.success div{
	height: 150px;
    width: 180px;
    display: inline-block;
    position: relative;
}
.success div img{
	height: 150px;
    width: 180px;
	display: block;
}
.success div h3{
	position: absolute;
	bottom: 9px;
	left: 56px;
	color: #ffffff;
	z-index: 101;
}
.success-box{
	padding: 30px 60px;
	position: fixed;
	top: 100px;
	z-index: 10000;
	width: 100%;
	text-align: center;
}
.success-box .modal-dialog{

}
</style>
<div class="mui-content" style="background-image: url(../attachment/{$setup['bgimg']});">
	<div class="headerimg">
		<img src="{$userinfo['headimgurl']}" alt="" class="img-circle">
	</div>
</div>
<div class="success-box" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
				
				<div>您已经领过红包了，可不要贪心哦</div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-warning btn-lg btn-block" >关  闭</button>
                
            </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{template 'common/footer'}