{template 'common/header'}
<div class="panel panel-default">
	<div class="panel-heading">系统设置</div>
	<div class="panel-body">
		<form action="{php echo $this->createWebUrl('setup')}&action=save" method="post" >
		  
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">首页背景图</label>
		    <div class="col-xs-12 col-sm-9">
		      {php echo tpl_form_field_image('bgimg', $setup['bgimg'])}
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">活动名称</label>
		    <div class="col-xs-12 col-sm-9">
		      <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="活动名称" value="{$setup['title']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">奖金最大金额</label>
		    <div class="col-xs-12 col-sm-9">
		       <input type="number" class="form-control" id="exampleInputEmail1" name="max" placeholder="请输入奖金最大金额" value="{$setup['max']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">奖金最小金额</label>
		    <div class="col-xs-12 col-sm-9">
		      <input type="number" class="form-control" id="exampleInputEmail1" name="min" placeholder="奖金最小金额" value="{$setup['min']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">奖金总金额</label>
		    <div class="col-xs-12 col-sm-9">
		      <input type="number" class="form-control" id="exampleInputEmail1" name="total" placeholder="奖金总金额" value="{$setup['total']}">
		    </div>
		  </div>
		  <div class="form-group">
					    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">已发奖金</label>
					    <label class="col-xs-12 col-sm-9 control-label type" style="text-align:left;padding-left: 15px;padding-right: 15px;" for="exampleInputPassword1">{$setup['hasgrant']}元</label>
		  </div>
		  
		  <div class="form-group">
		    <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1">本次活动时间</label>
		    <div class="col-xs-12 col-sm-9">
		      {php echo tpl_form_field_daterange('daterange', $value = array('start'=>$setup['start'],'end'=>$setup['end']), $time = true)}
		    </div>
		  </div>
		  <div class="form-group">
		  	  <label class="col-xs-12 col-sm-3 col-md-2 control-label" style="text-align:right;" for="exampleInputPassword1"></label>
			  <div class="col-xs-12 col-sm-9">
			       <button type="submit" class="btn btn-primary">提交</button>
			  </div>
		  </div>
		</form>
	</div>
</div>
{template 'common/footer'}