<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单支付 - 惠生活超市</title>
    <meta name="description" content="惠生活超市">
    <meta name="keywords" content="惠生活超市">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 <!-- head 中 -->
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.min.css">
    <link rel="stylesheet" href="css/jquery.mmenu.all.css">
    <link rel="stylesheet" href="css/common.css">

    <!-- body 最后 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-weui.min.js"></script>

    <!-- 如果使用了某些拓展插件还需要额外的JS -->
    <script src="js/swiper.min.js"></script>
    <script src="js/city-picker.min.js"></script>

    <script src="js/jquery.lazyload.min.js"></script>
    <script src="js/jquery.goup.min.js"></script>
    <script src="js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#catmenu').mmenu({
                extensions	: [ 'fx-menu-slide', 'shadow-page', 'shadow-panels', 'listview-large', 'pagedim-white' ],
                iconPanels	: true,
                counters	: true,
                keyboardNavigation : {
                    enable	: true,
                    enhance	: true
                },
                searchfield : {
                    placeholder	: 'Search menu items'
                },
                navbar : {
                    title : '惠生活'
                },
                navbars	: [
                    {
                        position	: 'top',
                        content		: [ 'searchfield' ]
                    }, {
                        position	: 'top',
                        content		: [ 'breadcrumbs', 'close' ]
                    }, {
                        position	: 'bottom',
                        content		: [ '<a href="http://www.9gwq.com" target="_blank">九阁网趣</a>' ]
                    }
                ]
            }, {
                searchfield : {
                    clear : true
                }
            });
        });
        $(document).ready(function () {
            $.goup({
                trigger: 100,
                bottomOffset: 50,
                locationOffset: parseInt(($(window).width()-100)/2),
                title: '',
                titleAsText: false,
                hideUnderWidth: 100,
                containerColor:"#09bb07"
            });
        });
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d0607ae78cb23d45522f94cb42780f69";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();


    $(function(){
            });
    </script>

</head>
<body>
<a id="catmenu_btn" href="#catmenu"><span><img src="img/catmenu.png" /></span></a>
<nav id="catmenu">
    <ul>
        <li><a href="/">首页</a></li>
        <li><span>产品分类</span>
            <ul>
                                <li><a href="?_suXCA=index/index&cid=5">居家生活</a></li>
                                <li><a href="?_suXCA=index/index&cid=6">食品饮料</a></li>
                                <li><a href="?_suXCA=index/index&cid=11">母婴用品</a></li>
                                <li><a href="?_suXCA=index/index&cid=12">儿童玩具</a></li>
                                <li><a href="?_suXCA=index/index&cid=13">文具/体育</a></li>
                                <li><a href="?_suXCA=index/index&cid=18">虚拟物品</a></li>
                                <li><a href="?_suXCA=index/index&cid=19">3C数码</a></li>
                                <li><a href="?_suXCA=index/index&cid=20">成人用品</a></li>
                            </ul>
        </li>
        <li><a href="/?_suXCA=index/query">订单查询</a></li>
        <li><a href="/?_suXCA=user/index">会员中心</a></li>
        <li><span>关于我们</span>
            <ul>
                <li><a href="/?_suXCA=index/about">平台说明</a></li>
                <li><a href="/?_suXCA=index/feedback">咨询反馈</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">订单提交成功</h2>
    <p class="weui-msg__desc">
        订单号：18041166669(<a href="?_suXCA=index/queryinfo&ordersn=18041166669">订单详情</a>)<br />需付金额：<b>25元。<br />请在30分钟内完成交易。</b><br /><br />
        温馨提示：你可以把本页分享给好友帮你买单哟。
    </p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="?_suXCA=index/gopay&ordersn=18041166669" class="weui-btn weui-btn_primary">立即支付</a>
      <a href="?_suXCA=index/index" class="weui-btn weui-btn_default">重新挑选</a>
    </p>
  </div>
</div>

</body>
</html>